body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;

  // background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));

  &__bus-icon-505 {
    border: 1.5px solid #802A30;
    border-radius: 50%;
    background: #FF5460;
    display: flex;
    align-items: center;
    justify-content: center;
    // w/h does not apply here
    transition: all 7s ease-in-out
  }
  &__bus-icon-inner-505{
    color: rgb(92, 34, 38);
    margin: 0;
  }
  &__bus-icon-506 {
    border: 1.5px solid #2A7180;
    border-radius: 50%;
    background: #A1EFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    // w/h does not apply here
    transition: all 5s ease-in-out
  }
  &__bus-icon-inner-506{
    color: #3C7880;
    margin: 0;
  }

  &__user-icon {
    border: 20px solid rgba(19, 153, 153, 0.3);
    border-radius: 50%;
  }

  &__user-icon-inner{
    border: 1px solid black;
    border-radius: 50%;
    background: grey;
    width: 10px;
    height: 10px;
  }
}
