@import '../../styles/base.scss';

.map {
  height: 100%;
  width: 100%;

  &__bus-icon-0 {
    @include icon-style($southeast, $northwest);
    // w/h does not apply here
  }
  // E/S: 0 W/N: 1
  &__bus-icon-inner-0{
    @include icon-inner($northwest);
  }
  &__bus-icon-1 {
    @include icon-style($northwest, $southeast);
    // w/h does not apply here
  }
  &__bus-icon-inner-1{
    @include icon-inner($southeast);
  }
  &__bus-icon-span {
    font-weight: bold;
  }

  &__user-icon {
    border: 20px solid rgba(19, 153, 153, 0.3);
    border-radius: 50%;
  }

  &__user-icon-inner{
    border: 1px solid black;
    border-radius: 50%;
    background: grey;
    width: 10px;
    height: 10px;
  }
}

.leaflet-bar a {
    // the +/-
    background: rgba(0,0,0, 0.75);
    box-shadow: 1px 1px 12px 1px rgba(16,27,30,0.4);
    color: white;
}
.leaflet-control-layers {
  box-shadow: 1px 1px 12px 1px rgba(16,27,30,0.4);
}
.leaflet-control-layers-toggle {
  background-color: rgba(0,0,0, 0.75);
}
.leaflet-control-layers-expanded {
  // the layer selection
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
  background: rgba(0,0,0, 0.75);
  color: white;
  // text-align: end;
}

.leaflet-popup-content p {
  margin: 0;
  font-size: 12;
}
// leaflet-marker-icon map__bus-icon-505 leaflet-zoom-animated leaflet-interactive