body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;

  &__user-icon {
    border: 20px solid rgba(19, 153, 153, 0.3);
    border-radius: 50%;
  }

  &__user-icon-inner{
    border: 1px solid black;
    border-radius: 50%;
    background: grey;
    width: 10px;
    height: 10px;
  }
}
